</main>

<footer class="footer mt-5 py-4 text-center">
  <div class="container ">
    <div class="row">
      <p class=" col-4 mb-1">Thanks for <strong>visiting!</strong></p>
      <p class=" col-4 ">Copyright © <%= new Date().getFullYear()%></p>
      <div class=" col-4 social-icons">
        <a href="https://github.com/kawther27" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/kawther-khlif-107a61230/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.kawtherkhlif.online/" target="_blank"><i class="bi bi-globe2"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>

</html>